@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.background {
  background-image: url("https://akm-img-a-in.tosshub.com/indiatoday/images/story/202401/besides-genetic-disorders--lifestyle-changes-have-given-rise-to-heart-attacks-among-the-youth-184808683-16x9_0.jpg?VersionId=XJLW6.Zitmt_saKfN7CV3esvt2rl6rRx&size=690:388");
  background-size: cover; /* Menutupi seluruh area dengan mempertahankan proporsi gambar */
  background-repeat: no-repeat; /* Menghindari pengulangan gambar */
  background-position: center; /* Posisi gambar latar belakang di tengah */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: rgba(
    255,
    255,
    255,
    0.9
  ); /* Warna latar belakang container dengan transparansi */
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-bottom: 10px;
  font-weight: bold;
  color: #555;
}

input[type="file"] {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 0;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

.result {
  margin-top: 20px;
  text-align: center;
  font-size: 16px;
}

.result a {
  color: #007bff;
  text-decoration: none;
}

.result a:hover {
  text-decoration: underline;
}
